/* ------------reset---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

}
/* ---------------common----------- */
body{
    font-family: 'Open Sans', sans-serif;
    max-width: 1920px;
}

/* ------------header--------------- */
header {
    height: 80px;
    background-color: aqua;
}

.logo, .box-button {
    float: left;
    width: 10%;
    border: 1px solid black;
    height: 80px;
}

.nav-left, .nav-right {
    float: left;
    width: 40%;
    border: 1px solid black;
    height: 80px;
}