/* ------------reset---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* ---------------common----------- */
.center {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-style-none {
    list-style: none;
}

.nav-right a, .nav-left a, .box-button a {
    text-decoration: none;

}

.nav-right a, .nav-left a {
    text-decoration: none;
    color: black;
}

.button {
    background-color: #0061ff;
    padding: 10px 10px;
}
/* ------------header--------------- */
header {
    height: 80px;
}

.logo, .box-button {
    float: left;
    width: 10%;
    border: 1px solid black;
    height: 80px;
    position: relative;
}

.nav-left, .nav-right {
    float: left;
    width: 40%;
    border: 1px solid black;
    height: 80px;
    position: relative;
}

.logo-img {
    max-width: 100%;
    padding-left: 15px;
}

.nav-right li, .nav-left li, .logo, .box-button {
    display: inline-block;
    line-height: 80px;
}

.nav-right li {
    padding-right: 30px;
}

.nav-left li {
    padding-left: 30px;
}

.nav-right ul  {
    position: absolute;
    right: 0;
}
 .button-accedi {
     position: absolute;
     right: 30px;
 }
 