/* ------------reset---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1616px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/* ---------------common----------- */
.center {
    position: absolute;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.list-style-none {
    list-style: none;
}

.button {
    background-color: #0061ff;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 67px;
}

/* ------------header--------------- */
header {
    height: 80px;
    font-weight: 600;
}

.col-left-header, .col-right-header {
    float: left;
    width: 50%;
    height: 100%;
}

.col-left-header ul, .col-right-header ul {
    list-style: none;
}

.logo-img, .nav-left, .nav-left li, .nav-right, .nav-right li, .button-accedi {
    display: inline-block;
}

.logo-img, .nav-left, .nav-right {
    vertical-align: middle;
    line-height: 80px;
}
.col-right-header {
    text-align: right;
}

.nav-right a, .nav-left a {
    text-decoration: none;
    color: black;
}

.nav-left li {
    margin-left: 45px;
}

.nav-right li {
    margin-right: 45px;
}

.button-accedi {
    margin-right: 20px;
}

.logo-img {
    margin-left: 20px;
}

/* -----------------------main----------------------- */

/*----------------------- section1 ------------------------ */
.section-1 {
    background-color: #b4d0e7;
    height: 750px;
    font-weight: 600;
}

.hero {
    width: 80%;
    margin: auto;
    padding-top: 100px;
}

.col1-left, .col1-right {
    float: left;
    height: 300px;
}

.col1-left {
    width: 27%;
    float: left;
    padding-top: 50px;
}

.col1-right {
    width: 70%;
    float: left;
    position: relative;
}

.p1 {
    padding-bottom: 30px;
} 

.p2 {
    padding-top: 15px;
    font-size: 15px;
}

.arrow-down {
    font-size: 50px;
    padding-top: 50px;
}

.col1-right img {
    position: absolute;
    top: 18%;
    width: 100%;
}